$gutter: 30px;

// z-index list
$zIndex-fixed-btns: 10;
$zIndex-menu-mobile: 20;
$zIndex-btn-close: 30;
$zIndex-dropdown: 40;
$zIndex-modal: 50;

// animations
$animation-displacementY: 20px;
$animation-displacementX: $gutter / 2;